.headline {
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.moreInfo{
	font-family:Arial,sans-serif;
	font-size:14px;
	color:blue;
	text-align:center;
	
}
.readMore{
	color:blue;
	font-weight:bold;
	cursor:pointer;
}
.moreInfo{
	display: none;
}
.expanded .moreInfo{
	display:block;

}