h1 {
    color: grayc; // This is where you can control the header of your page //
 	highLight
    margin-left: 1px;
}

.readMore{
	 color: red;
	 cursor: pointer;
}
.moreInfo {
	display: none;	
}

.expanded .moreInfo {
	display: block;
}

element.style {
}

body {
  overflow-x: auto;
  overflow-y: scroll;
}
html, body {
  height: 200%;
}
body {
  /* line-height: 1; */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
	
}
